* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

/* nav section */

.navbar {
  background-color: black;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.4rem 0;
}

.nav-logo {
  width: 150px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  column-gap: 30px;
}

.nav-link-items {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.nav-link-items:hover {
  color: #22baf6;
}

.nav-icon {
  color: #22baf6;
}

.mobile-menu {
  display: none;
}

.mobile-menu-toggle {
  cursor: pointer;
}

.mobile-nav-list-container {
  position: absolute;
  top: 95px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.mobile-nav-list-container.active {
  transform: translateX(0);
}

.mobile-nav-list-items {
  list-style-type: none;
  padding: 2rem 0;
}

/* Hero section */

.hero {
  background: url(images/header-background.jpg);
  width: 100%;
  padding-bottom: 9rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content-container {
  display: flex;
  align-items: center;
  padding-top: 12rem;
  gap: 40px;
}

.text-container {
  color: white;
}

.hero-heading {
  font-size: 70px;
  font-weight: 600;
  text-transform: uppercase;
}

.header-highlight {
  color: #08c0dd;
}

.hero-subtext {
  font-size: 25px;
  line-height: 2.3rem;
  margin: 1.5rem 0;
}

.btn {
  padding: 1.5rem;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 550;
  background-color: #08c0dd;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  color: white;
  border: #08c0dd solid 1px;
}

.hero-button-container {
  display: flex;
  column-gap: 20px;
  margin-top: 3rem;
  margin-left: 9rem;
}

.hero-img {
  height: 700px;
}

/* testimonies section */

.testimonies {
  background-color: #262431;
  color: white;
}

.testimonial-container {
  display: flex;
  margin: 0 auto;
  padding: 4rem 0;
  text-align: center;
  column-gap: 140px;
  justify-content: center;
}

.testimonial-subtext {
  font-style: italic;
  font-size: 19px;
  line-height: 1.8rem;
  width: 290px;
  margin: 2rem 0;
}

.img-testimonial {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* Takeaways section */

.takeaways {
  background-color: #2f2c3d;
  color: white;
}

.takeaways-heading {
  text-align: center;
  padding-top: 8rem;
}

.takeaway-header {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.takeaways-subtext {
  font-size: 20px;
  width: 750px;
  margin: 2rem auto;
  line-height: 2rem;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.grid-item-header {
  text-align: right;
  font-size: 25px;
  margin-bottom: 1rem;
  /* border: solid 1px white; */
}

.grid-item-text-container {
  width: 85%;
  text-align: right;
  margin: 0 1rem;
}

.grid-item-subtext {
  font-size: 20px;
  line-height: 2rem;
}

.takeaways-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-alignleft {
  text-align: left;
}

i {
  color: #08c0dd;
}

/* Media Queries */

@media (max-width: 1200px) {
}

@media (max-width: 900px) {
}

@media (max-width: 768px) {
  .nav-list-container {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .hero-content-container {
    flex-direction: column;
  }

  .hero-content-container {
    text-align: center;
  }

  .text-container {
    width: 70%;
  }

  .hero-heading {
    font-size: 40px;
  }

  .hero-subtext {
    font-size: 20px;
  }

  .hero-button-container {
    flex-direction: column;
    row-gap: 20px;
    width: 70%;
    margin: 0 auto;
  }

  .hero-img {
    width: 80%;
    height: 80%;
  }

  .testimonial-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 30px;
  }
}

@media (max-width: 576px) {
}
