* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* nav section */

.navbar {
  background-color: black;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.4rem 0;
}

.nav-logo {
  width: 150px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  column-gap: 30px;
}

.nav-link-items {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.nav-link-items:hover {
  color: #22baf6;
}

.nav-icon {
  color: #22baf6;
}

.mobile-menu {
  display: none;
}

.mobile-menu-toggle {
  cursor: pointer;
}

.mobile-nav-list-container {
  position: absolute;
  top: 95px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.mobile-nav-list-container.active {
  transform: translateX(0);
}

.mobile-nav-list-items {
  list-style-type: none;
  padding: 2rem 0;
}

/* Hero section */

.hero {
  background: url(images/header-background.jpg);
  width: 100%;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content-container {
  display: flex;
  align-items: center;
  padding-top: 12rem;
  justify-content: center;
  column-gap: 90px;
}

.text-container {
  color: white;
}

.hero-heading {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-highlight {
  color: #08c0dd;
}

.hero-subtext {
  font-size: 25px;
}

.btn {
  padding: 1.5rem;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 550;
  background-color: #08c0dd;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  color: white;
  border: #08c0dd solid 1px;
}

.hero-button-container {
  display: flex;
  column-gap: 20px;
  margin-top: 2rem;
  margin-left: 9rem;
}

/* Media Queries */

@media (max-width: 1200px) {
}

@media (max-width: 900px) {
}

@media (max-width: 768px) {
  .nav-list-container {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

@media (max-width: 576px) {
}
