* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* nav section */

.navbar {
  background-color: black;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.4rem 0;
}

.nav-logo {
  width: 150px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  column-gap: 30px;
}

.nav-link-items {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.nav-icon {
  color: #22baf6;
}

/* Hero section */

/* Media Queries */

@media (max-width: 1200px) {
}

@media (max-width: 900px) {
}

@media (max-width: 768px) {
  .nav-list-container {
    display: none;
  }
}

@media (max-width: 576px) {
}
